/* font-family: 'Montserrat', sans-serif; */
*{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

.header__box{
	display: block;
	width: 100%;
	max-height: 770px;
}

.header{
	width: 100%;
	height: auto;
	background-color: #000000;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 770px

}

.img__bcg{
	width: 100%;
	position: absolute;
	z-index: 2;
	height: 100%;
	max-height: 770px
}

.img__shadou{
	width: 100%;
	position: absolute;
	z-index: 3;
	height: 100%;
	max-height: 770px
}

.head__menu{
	z-index: 5;
	position: relative;
	padding-top: 30px;
	display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: white;
   width: 73vw;
   max-width: 1141px;
}

.logo{
	text-decoration: none;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif; 
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}

.Nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 540px;
	align-items: center;
}


.nav__link{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}


.nav__link:hover{
	color: #c0301c;
}

.head__caption{
	position: relative;
	z-index: 5;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	margin: 15vw 0 0 0;

	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	width: 585px;
}

.head__caption h1{
	font-size: 48px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 400;
}

.head__caption div{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.head__btn{
	border-radius: 2px;
	border: 2px solid #ffffff;
	/* Style for "Get Started" */
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	z-index: 5;
	padding:19px 34px;
	margin-top: 50px;
	margin-bottom: 260px;
}

.head__btn:hover{
	color: #c0301c;
	background-color: #fff;
}

.services{
	width: 100%;
	min-height: 380px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.services__tittle{
	width: 480px;
	height: 92px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}



.services__tittle h2{
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.black__line{
	width: 50px;
	height: 2px;
	background-color: #555555;
}

.servicess__text{
	color: #555555;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

 .servicess__group{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	max-width: 1140px;
	width: 90vw;
	margin-top: 70px;

}
.service{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	min-height: 217px;
	margin-left: 45px;
	width: 345px;
}

.service:first-child{
	margin-left: 0;
}

.service__img{
	width: 86px;
	height: 86px;
	border-radius: 100%;
	border: 2px solid #dddddd;
	background-color: #fff;
	position: relative;
}

.active__service__img{
	background-color: #c0301c;
	border: 2px solid #c0301c;
}

.img__font{
	position: absolute;
	top: 20px;
	left: 22px;
}
.img__code{
	position: absolute;
	top: 23px;
	left: 17px;
}
.img__support{
	position: absolute;
	top: 19px;
	left: 19px;
}

.service__headline{
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	margin: 26px;
}

.service__text{
	width: 100%;
	color: #555555;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	overflow: hidden;
}

.AboutUs{
	width: 100%;
	min-height: 852px;
	height: auto;
	background-color: #f8f8f8;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.AboutUs__tittle{
	width: 480px;
	height: 92px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 99px;
}

.AboutUs__tittle h2{
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;

}

.black__line{
	width: 50px;
	height: 2px;
	background-color: #555555;
}

.AboutUs__text{
	color: #555555;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.AboutUs__content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	max-height: 110px;
	overflow: hidden;
	
	width: 90vw;
}

.AboutUs__content p{
	margin-left: 32px;
}

.AboutUs__content p:first-child{
	margin-left: 0;
}

.AboutUs__content p::before {
	content: "...";
	color:white;
	
}

.AboutUs__team__slider{
	position: relative;
}

#AboutUs__team__slaider__box{
	position: relative;
	width: 80vw;
	height: 400px;
	/*min-width: 1140px;*/
	overflow: hidden;
	max-width: 1140px;
}


 
.slayd{
	width: 263px;
	color: black;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	z-index: 2;
	position: relative;
	margin-left: 20px;
}

.slayd:first-child{
	margin-left: 0;
}
.slayd:last-child{
	margin-right: : 0;
}

.slayd__shadow{
	width: 100%;
	height: 250px;
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 4;
	background-color: #292929;
}



.slayd:hover .slayd__shadow{
	opacity: 0.6;
	transition: opacity 1s;
}


#slayders{
	position: absolute;
	width: 1140px;
	height: 310px;
}

#prew,#next{
	cursor: pointer;
	width: 35px;
	height: 38px;
	border-radius: 2px;
	background-color: rgb(1,1,1,0.8);
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	top: 30%;
	
	color: white;
	text-align: center;
	opacity: 0.4;
	z-index: 10;
	line-height: 38px;
}



#next{
	right: 0;


}

#prew:hover,#next:hover{
	background-color: #c0301c;
	opacity: 0.8;
	transition: opacity 0.7s;
	color: #ddd;
}

#prew::selection, #next::selection{
	background-color: rgb(1,1,1,0);
}

.AboutUs__team__slider::selection{
	background-color:rgb(0,0,0,0);
}
.slayders::selection{
	background-color:rgb(0,0,0,0);
}

.slayd::selection{
	background-color:rgb(0,0,0,0);
}
.slayd__img::selection{
	background-color:rgb(0,0,0,0);
}


.slayd__img{
	width: 100%;
	height: 100%;
}

.aboutAs__text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.text__name{
	color: #555555;	
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;

}

.text__post{
	color: #555555;
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.link__team__social{
	position: absolute;
   top: 80%;
   left: 25%;
   width: 115px;
}

.link__team__social__ulist{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.link__team__social__list{
	width: 28px;
	height: 28px;
	align-items: center;
	padding-top: 10px;
}

.link__team__social__list:hover{
	background-color: #c0301c;
}


.works{
	margin:  100px 0;
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.works__tittle{
	width: 480px;
	min-height: 92px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.works__tittle h2{
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

.black__line{
	width: 50px;
	height: 2px;
	background-color: #555555;
}


.menu{
	width: 417px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}



.menu__link{
	color: #555555;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	cursor: pointer;
}

.menu__link:hover{
	color: #c0301c;
}

.ml__active{
	color: #c0301c;
}

.works__types{
	width: 90%;
	max-width: 1141px;
	max-height: 1000px;
	overflow: auto;
	margin-left: -20px;
}

.works__types ul{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.single__work{
	width: 360px;
	height: 320px;
	display: inline-block;
	margin-left:10px;
	margin-top: 30px;
	position: relative;
	overflow: hidden;
	
}


.work__img{
	width: 100%;
	height: 100%;
	z-index: 2;
}

.work__img__shadow{
	width: 100%;
	height: 100%;
	background-color: rgba(192,48,28,0.8);
	position: absolute;
	top: 100%;
	/*opacity: 0.8;*/
	z-index: 4;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.work__shadow__tittle{
	width: 112px;
	height: 110px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.work__shadow__tittle h3{
	color: rgba(255,255,255,1);
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.work__shadow__tittle p{
	
	color: rgba(255,255,255,1);
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}

.work__btn {
	/* Style for "Rectangle" */
	width: 100px;
	height: 38px;
	border: 2px solid #fff;
	border-radius: 2px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-transform: uppercase;
	text-align: center;
}

.work__btn:hover, .work__btn:focus{
	background-color: rgba(255,255,255,1);
	color: #c0301c;
}

.single__work:hover .work__img__shadow{
	top: 0;
	transition: top 1.5s;
}



.paralax{
	height: 369px;
	background-image: url(./img/Layer_29.png);
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}




.paralax__shadow{
	width: 100%;
	height: 369px;
	background-color: rgba(192,48,28,0.6);
	position: absolute;
	top: 0;
	z-index: 3;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.paralax__shadow h2{
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	margin-bottom: 0;
	text-align: center;
}

.get__in__touch__btn{
	width: 180px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 2px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 44px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 53px;

}

.get__in__touch__btn:hover, .get__in__touch__btn:focus{
	background-color: rgba(255,255,255,1);
	color: #c0301c;
	transition: all 1s;
}

.blog__posts{
	width: 100%;
	min-height: 883px;
	margin: 100px auto ;
	max-width: 1142px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.blog__tittle{
	width: 480px;
	height: 92px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 99px;
}

.blog__tittle h2{
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;

}

.black__line{
	width: 50px;
	height: 2px;
	background-color: #555555;
}

.blog__text{
	color: #555555;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}








































@media (max-width: 1266px) {
	.works__types{
		width: 80%;
	}
}

@media handheld{

}

@keyframes opacity__move {
  from {opacity:0;}
  to {opacity:1;}
}



::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:8px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#7b7b7b
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 2px;
background-color:#c0301c;
box-shadow:0px 1px 1px #fff inset;
background-image:url('https://yraaa.ru/_pu/24/59610063.png');
background-position:center;
background-repeat:no-repeat;
}

::-webkit-scrollbar-thumb:hover{
background-color:#c0301c;

}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:8px;
height:0px
}

::-webkit-scrollbar{
width: 8px;
}

